// Place all the styles related to the tsubuyakis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-image: url(back.png);
}
.thumbnail{
  background-image: url(back.png);
}

hr.style6 {
  border-top: 3px double #8c8b8b;
}
